.submitButton {
	background-color: var(--submit--button);
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: var(--font-size-small);
	border-radius: var(--border-radius-small);
	cursor: pointer;
	margin-top: var(--margin-medium);
}

.submitButton:hover {
	background-color: var(--submit--button--hover);
}

.founderCard {
	background-color: #b4b4b4;
	border: 1px solid #dee2e6;
	border-radius: var(--border-radius-medium);
	padding: var(--padding-medium);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: var(--margin-smallest);
}

.founderName {
	font-size: var(--font-size-small);
	font-weight: bold;
	color: #343a40;
}

.noFounders {
	text-align: center;
	color: #dc3545;
	font-weight: bold;
	padding: var(--padding-large);
}

.results {
	display: flex;
	justify-content: start;
}
