.wrapperTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.companyName {
	font-size: 60px;
	font-weight: 800;
}

.employeeTitle {
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: var(--margin-smallest);
}

.employeesContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.employeeCard {
	background-color: var(--silver-plate--color);
	border: var(--border-light);
	border-radius: var(--border-radius-large);
	padding: var(--padding-small);
	width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employeeInfo {
	display: flex;
	flex-direction: column;
}

.employeeCard p {
	color: #747474;
	font-size: var(--font-size-small);
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
	margin-bottom: var(--margin-large);
}

.searchbarWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: var(--margin-large);
}

.technologyPill {
	background-color: rgb(77, 0, 84);
	border-radius: var(--border-radius-xlarge);
	padding: 4px 8px;
	font-size: var(--font-size-smallest);
	display: inline-block;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: var(--margin-smallest);
	margin-right: var(--margin-smallest);
}

.btnWrapper {
	display: flex;
	flex-direction: column;
}

.spinnerOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
