.wrapperTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.companyName {
	font-size: 60px;
	font-weight: 800;
}

.employeeTitle {
	font-size: 18px;
	font-weight: 600;
	text-decoration: underline;
	margin-bottom: 5px;
}

.employeesContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.employeeCard {
	background-color: rgb(52, 52, 52);
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 10px;
	width: 400px;
	display: flex;
	justify-content: space-between; /* Распределение пространства между элементами */
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employeeInfo {
	display: flex;
	flex-direction: column;
}

.employeeCard p {
	color: #747474;
	font-size: 16px;
}

.deleteCompany {
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deleteEmployee {
	margin-right: 8px;
}
