.deleteButton {
	background-color: #ff4d4d;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	min-width: 147px;
	max-height: 36px;
}

.deleteButton:hover {
	background-color: #ff0000;
}
