.deleteButton {
	background-color: var(--delete--button-color);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: var(--font-size-smallest);
	min-width: 147px;
	max-height: 36px;
}

.deleteButton:hover {
	background-color: var(--delete--button-color--hover);
}
