.inputWrapper {
	display: flex;
	flex-direction: column;
}

.submitButton {
	background-color: var(--add-button-color);
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: var(--font-size-small);
	border-radius: var(--border-radius-small);
	cursor: pointer;
	margin-top: var(--margin-medium);
}

.submitButton:hover {
	background-color: var(--add-button-color-hover);
}

.dropdown {
	position: absolute;
	background-color: var(--silver-plate--color);
	border: var(--border-light);
	border-radius: var(--border-radius-small);
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	padding: 0;
	list-style-type: none;
}

.dropdownItem {
	padding: var(--padding-small);
	cursor: pointer;
	border-bottom: var(--border-light-silver);
}

.dropdownItem:hover {
	background-color: var(--silver-plate--color--hover);
}

.dropdownItem:last-child {
	border-bottom: none;
}
