.searchHeader {
	display: flex;
	gap: 4px;
	align-items: flex-start;
	justify-content: start;
	margin-bottom: 6px;
	height: 32px;
	flex-wrap: wrap;
	position: relative;
}

.wrapper {
	margin: 0 40px;
}

.resultsCounter {
	font-weight: bold;
	margin-bottom: 10px;
}

.checkboxWrapper {
	display: flex;
	align-items: center;
	gap: 4px;
	margin-bottom: 10px;
}

.fullTextBlock {
	margin-top: 8px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.filtersButton {
	background-color: white;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: box-shadow 0.2s, background-color 0.2s, transform 0.2s;
	user-select: none;
	height: 100%;
	border: none;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	padding: 5px;
	margin-right: 5px;
	color: white;
}

.filtersButton:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.checkboxWrapper label {
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.checkbox {
	appearance: none;
	width: 24px;
	height: 24px;
	border: 1px solid gray;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s ease;
}

.checkbox label {
	justify-content: start;
}

.checkbox:checked::after {
	content: '✓';
	color: var(--white-color);
	font-size: var(--font-size-medium);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.divider {
	width: 1px;
	height: 90%;
	background: gray;
}

.results {
	margin-bottom: 4px;
}
