.searchHeader {
	display: flex;
	gap: 4px;
	align-items: flex-start;
	justify-content: start;
	margin-bottom: 6px;
	height: 32px;
	flex-wrap: wrap;
	position: relative;
}

.wrapper {
	margin: 0 40px;
}

.resultsCounter {
	font-weight: bold;
	margin-bottom: 10px;
}

.results {
	margin-bottom: 4px;
}
