.deleteButton {
	background-color: var(--delete--button-color);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	margin-top: var(--margin-large);
	font-size: var(--font-size-small);
}

.deleteButton:hover {
	background-color: var(--delete--button-color--hover);
}
