.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #ccc;
	--button-secondary-hover: #1a1a1a;

	display: grid;
	align-items: center;
	justify-items: center;
	font-family: var(--font-geist-sans);
}

.main {
	display: flex;
	flex-direction: column;
	grid-row-start: 2;
	min-width: 500px;
	margin-top: 20px;
}

.title {
	font-size: 60px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.main ol {
	font-family: var(--font-geist-mono);
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main code {
	font-family: inherit;
	background: var(--gray-alpha-100);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	z-index: 10;
}

.searchbarWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
