.page {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;

	display: grid;
	align-items: center;
	justify-items: center;
	font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
}

.main {
	display: flex;
	flex-direction: column;
	grid-row-start: 2;
	min-width: 500px;
	margin-top: 20px;
}

.title {
	font-size: 60px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.main ol {
	font-family: var(--font-geist-mono);
	padding-left: 0;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.01em;
	list-style-position: inside;
}

.main code {
	font-family: inherit;
	background: var(--gray-alpha-100);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 600;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	z-index: 10;
}

.buttonsContainer button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.buttonsContainer button:hover {
	background-color: #0056b3;
}

a.primary {
	background: var(--foreground);
	color: var(--background);
	gap: 8px;
}

a.secondary {
	border-color: var(--gray-alpha-200);
	min-width: 180px;
}
