.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.pageButton {
    background-color: #f0f0f0;
    border-radius: var(--border-radius-small);
    border: 0;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.activePageButton {
    background-color: var(--button-active);
    box-shadow: var(--button-active-boxshadow);
    color: #f0f0f0;
}

.pageButton:hover {
    box-shadow: var(--button-hover-boxshadow);
}