.inputWrapper {
	display: flex;
	flex-direction: column;
}

.submitButton {
	padding: 10px 20px;
	background-color: var(--add-button-color);
	color: white;
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: var(--font-size-small);
	margin-top: var(--margin-medium);
}

.submitButton:hover {
	background-color: var(--add-button-color-hover);
}
