.wrapper {
	width: 100%;
}

.spinnerWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.listItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: var(--border-light-silver);
}

.deleteButton {
	background-color: var(--delete--button-color);
	color: white;
	border: none;
	cursor: pointer;
	font-size: var(--font-size-small);
	line-height: 1;
	padding: 0 10px;
}

.deleteButton:hover {
	background-color: var(--delete--button-color--hover);
}

.results {
	display: flex;
	justify-content: start;
}
