.wrapper {
	width: 100%;
}

.input {
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.listItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
}

.deleteButton {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
	padding: 0 10px;
}

.deleteButton:hover {
	background-color: darkred;
}

.results {
	display: flex;
	justify-content: start;
}
