.submitButton {
	margin: 0 10px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.submitButton {
	margin: 0 10px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.mainBtn {
	background-color: var(--change-button-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: 14px;
	width: 100%;
	margin: 0;
	margin-bottom: var(--margin-small);
	min-width: 147px;
}

.mainBtn:hover {
	background-color: var(--change-button-color-hover);
}

.submitButton {
	padding: 10px 20px;
	background-color: var(--add-button-color);
	color: white;
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: var(--font-size-small);
	margin-top: var(--margin-medium);
}

.submitButton:hover {
	background-color: var(--add-button-color-hover);
}

.dropdown {
	position: absolute;
	background-color: var(--silver-plate--color);
	border: var(--border-light);
	border-radius: var(--border-radius-small);
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	padding: 0;
	list-style-type: none;
	margin-left: var(--margin-smallest);
}

.dropdownItem {
	padding: var(--padding-small);
	cursor: pointer;
	border-bottom: 1px solid #eee;
}

.dropdownItem:hover {
	background-color: var(--silver-plate--color--hover);
}

.dropdownItem:last-child {
	border-bottom: none;
}

.technologiesContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: flex-start;
	min-height: 50px;
	max-height: 70px;
	overflow: hidden;
}

.titleTechnologies {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: var(--margin-small);
	margin-right: var(--margin-smallest);
}

.tech {
	display: flex;
}

.technologyPill {
	background-color: rgb(77, 0, 84);
	border-radius: var(--border-radius-xlarge);
	padding: 4px 8px;
	font-size: var(--font-size-smallest);
	display: inline-block;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: var(--margin-smallest);
}

.technologyPill:hover {
	background-color: rgb(43, 0, 47);
}

.removeIcon {
	margin-left: 8px;
	color: var(--delete--button-color);
	font-weight: bold;
}
