.submitButton {
	margin: 0 10px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.changeButton {
	padding: 10px 20px;
	background-color: var(--change-button-color);
	color: white;
	border: none;
	border-radius: var(--border-radius-small);
	cursor: pointer;
	font-size: var(--font-size-small);
	margin-top: 15px;
}

.changeButton:hover {
	background-color: var(--change-button-color-hover);
}

.dropdown {
	position: absolute;
	background-color: var(--silver-plate--color);
	border: var(--border-light);
	border-radius: var(--border-radius-small);
	max-height: 200px;
	overflow-y: auto;
	z-index: 100;
	padding: 0;
	list-style-type: none;
}

.dropdownItem {
	padding: var(--padding-small);
	cursor: pointer;
	border-bottom: var(--border-light-silver);
}

.dropdownItem:hover {
	background-color: var(--silver-plate--color--hover);
}

.dropdownItem:last-child {
	border-bottom: none;
}

.spinnerOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
