.submitButton {
	margin: 0 10px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.input {
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.changeButton {
	padding: 10px 20px;
	background-color: #a88401;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 15px;
}

.changeButton:hover {
	background-color: #665001;
}

.dropdown {
	position: absolute;
	background-color: rgb(52, 52, 52);
	border: 1px solid #ccc;
	border-radius: 4px;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	padding: 0;
	list-style-type: none;
}

.dropdownItem {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}

.dropdownItem:hover {
	background-color: #1d1d1d;
}

.dropdownItem:last-child {
	border-bottom: none;
}
